<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Easy Living - Responsive Real Estate Template">
    <meta name="keywords" content="Themes, real estate, responsive, themeforest, Templates">
    <meta name="author" content="Rype Pixel [Chris Gipple]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strata Compare | Find the best strata manager</title>

    <!-- CSS file links -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/jquery.bxslider.css" rel="stylesheet" media="screen">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/responsive.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/yamm.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/jquery.nouislider.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href='/static/css/css9441.css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
</head>